# Dependencies
node_modules/

# Environment variables
.env
.env.local

# IDE & System files
.DS_Store
Thumbs.db

.idea/

# Data files (Do not push large datasets to GitHub)
*.csv
*.tsv
*.parquet
*.json

# Python caches
__pycache__/
*.pyc
